

// COLOR SCHEME
$main-color: #127475;
$secondDaiy-color: #7B6D8D;
$tertiary-color: #BFD7B5;
$quaternary-color: #AEDCFE;

#nav{
    background-color: $quaternary-color;
    opacity: .8;
    z-index: 1;
}

.sub:hover{
    background-color: $secondDaiy-color;
}



.BgTitle{
    font-size: 1.8em;
}




// language
.kh{
    display: none;
}

@media screen and (min-width: 900px){

}